﻿* {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: ActionMan; /* Имя шрифта */
    src: url(fonts/Action_Man.ttf); /* Путь к файлу со шрифтом */
   }


body {
    background-image: url(img/image.jpg);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tetris {
    border: 3px solid  #9C9C9C;
    justify-content: space-around;
}

#game {
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 250px;
    background: rgb(0, 0, 0);
    border: 3px solid #9C9C9C;
    border-left: none;
    color: white;
    font-family: ActionMan;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.figure {
    display: block;
    width: 100px;
    height: 100px;
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate180  {
    transform: rotate(180deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.rotate360 {
    transform: rotate(360deg);
}
